// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0 1rem;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Start of navigation*/
.navbar {
    display: flex;
    height: 5.2rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 2rem;

    & > img {
        height: 80px;
        padding-top: 10px;
    }

    & > ul {
        list-style: none;

        & > li {
            display: inline;

            & > a {
                text-decoration: none;
                letter-spacing: 1.1;
                color: black;
            }

            & > a:hover {
                color: rgb(250, 142, 53);
                text-decoration: underline;
            }

            & > a:visited {
                color: black;
            }
        }
    }
}

.sign-up {
        font-size: 2rem;
        height: 4rem;
        width: 10rem;
        color: white;
        background-color: rgb(250, 142, 53);
        border-radius: .5rem;
        border: none;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            background-color:rgb(231, 131, 49);
        }
}
/*End of navigation*/

/*Start of landing page*/
.container {
    display: flex;
    font-size: 2.32rem;
    justify-content: space-between;
    
    &-header {
        margin-left: 2rem;
        padding-top: 20rem;

        & > h1 > span {
            color: rgb(250, 142, 53);
        }
    }
}

.explore {
    padding-left: .75rem;

    & > h4 {
        line-height: 8rem;
    }

    & > button {
        font-size: 1.5rem;
        height: 4rem;
        width: 8rem;
        color: white;
        background-color: rgb(250, 142, 53);
        border-radius: .5rem;
        border: none;

        &:hover {
            background-color:rgb(231, 131, 49);
        }
    }
}

.landing-image {
    padding-top: 3rem;
    margin-right: 2rem;
    height: 1250px;
}
/*End of landing page*/